<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Topbar Start -->
<div th:fragment="topbar" class="container-fluid">
    <div class="row align-items-center bg-light px-lg-5">
        <div class="col-12 col-md-8">
            <div class="d-flex justify-content-between">
                <div class="bg-primary text-white text-center py-2" style="width: 100px;">Latest</div>
                <div id="top-latest-slider"
                     class="owl-carousel owl-carousel-1 tranding-carousel position-relative d-inline-flex align-items-center ml-3"
                     style="width: calc(100% - 100px); padding-left: 90px;">
                </div>
            </div>
        </div>
        <div id="today" class="col-md-4 text-right d-none d-md-block">
            Monday, January 01, 2045
        </div>
    </div>
    <div class="row align-items-center py-2 px-lg-5">
        <div class="col-lg-4">
            <a href="" class="navbar-brand d-none d-lg-block">
                <h1 class="m-0 display-5 text-uppercase"><span class="text-primary">News</span>Room</h1>
            </a>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div th:fragment="navbar" class="container-fluid p-0 mb-3">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-2 py-lg-0 px-lg-5">
        <a href="" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-5 text-uppercase"><span class="text-primary">News</span>Room</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
            <div id="nav-items" class="navbar-nav mr-auto py-0">
                <a id="nav-home" href="/" class="nav-item nav-link active">Home</a>
                <a id="nav-popular" href="/news/search/popular" class="nav-item nav-link">Popular</a>
                <a id="nav-latest" href="/news/search/latest" class="nav-item nav-link">Latest</a>
                <a id="nav-trending" href="/news/search/trending" class="nav-item nav-link">Trending</a>
                <div id="cate-dropdown" class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a id="nav-technology" href="/news/search/category?cateType=technology" class="dropdown-item">Technology</a>
                        <a id="nav-business" href="/news/search/category?cateType=business" class="dropdown-item">Business</a>
                        <a id="nav-sport" href="/news/search/category?cateType=sport" class="dropdown-item">Sport</a>
                        <a id="nav-entertainment" href="/news/search/category?cateType=entertainment" class="dropdown-item">Entertainment</a>
                    </div>
                </div>
                <a id="nav-contact" href="/contact" class="nav-item nav-link">Contact</a>
                <a th:if="${authenticated}" th:href="@{/logout}" id="logout" class="nav-item nav-link">Logout</a>
            </div>
                <form id="searchForm" action="/news/search/key" method="get">
                    <div class="input-group ml-auto" style="width: 100%; max-width: 300px;">
                        <input type="hidden" name="cateType" th:value="${cateType}">
                        <input id="searchInput" type="text" class="form-control" placeholder="Keyword" name="keyword" th:value="${keyword}">
                        <div class="input-group-append">
                            <button type="submit" id="searchBtn" class="input-group-text text-secondary"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
        </div>
    </nav>
</div>
<!-- Navbar End -->
</body>
</html>